<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>PEPVagas</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="btn-user">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <h3><b>Olá, {{equipeData.nome}}</b></h3>
    <ion-button fill="clear"  id="btn-voltar" [routerLink]="['/home']"> 
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>
    <ion-list lines="inset">
      <ion-item>
        <ion-label class="title">Nome</ion-label>
        <ion-label slot="end" class="item-lista">{{equipeData.nome}}</ion-label>
      </ion-item>
      <ion-item *ngIf="userType == TipoUsuario.EQUIPE">
        <ion-label class="title">Senha</ion-label>
        <ion-label slot="end" class="item-lista">***********</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="title">Email</ion-label>
        <ion-label slot="end" class="item-lista">{{equipeData.email}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button id="editar" class="btn-editar" fill="outline" (click)="toEditar()"><ion-icon name="create-outline"></ion-icon>Editar Perfil</ion-button>
    <ion-button id="deletar" class="btn-deletar" fill="outline"><ion-icon name="trash-outline"></ion-icon>Desativar Conta</ion-button>
    <ion-alert
            trigger="deletar"
            header="Desativar Conta"
            message="Voce tem certeza que deseja desativar sua conta?"
            [buttons]="alertButtons"
            (didDismiss)="setResult($event)"></ion-alert>


  </div>

</ion-content>

