<ion-header [translucent]="true">
  <app-cabecalho titulo="PEPVagas"></app-cabecalho>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab id="btn-add" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="adicionarNovoMembroDaEquipe()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="form-container">
    <h1><b>Membros da Equipe</b></h1>
    <ion-searchbar animated="true" placeholder="Nome" show-clear-button="focus" [debounce]="250"
      [(ngModel)]="termoPesquisa" (ionInput)="filtrarMembroPorNome()"></ion-searchbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let membro of equipe">
        <ion-card class="no-margin">
          <ion-card-header>
            <div>
              <ion-fab slot="fixed" horizontal="end" vertical="top">
                <ion-fab-button>
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="start">
                  <ion-fab-button color="danger" *ngIf="!membro.deletedAt" (click)="deletarMembroDaEquipe(membro.idEquipe)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button *ngIf="membro.deletedAt" color="success"
                  (click)="reativarPerfil(membro.idEquipe)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                </ion-fab-button>
                  <ion-fab-button color="primary" (click)="navegarParaVisualizar(membro.idEquipe)">
                    <ion-icon name="eye"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button *ngIf="!membro.deletedAt" color="warning" (click)="navegarParaAlterar(membro.idEquipe)">
                    <ion-icon name="pencil"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
              </ion-fab>
            </div>
          </ion-card-header>
          <ion-card-content>
            <b *ngIf="membro.deletedAt" style="color: red;">Perfil Inativo</b><br>
            <b>ID:</b> {{membro.idEquipe}}<br>
            <b>Nome:</b> {{membro.nome}} {{membro.sobrenome}}<br>
            <b>Email:</b> {{membro.email}}<br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="nenhumResultado" *ngIf="equipe.length === 0 && termoPesquisa.trim() !== ''">
    Nenhum membro de equipe encontrado.
  </div>
</ion-content>