<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img slot="icon-only" src="/assets/logo.svg"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-fab-button class="back-button" color="dark" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>

    <img alt="Banner da Vaga" *ngIf="!isEnvironment" class="banner"
      src="http://localhost:4001/images/{{vaga.banner}}" />
    <img alt="Banner da Vaga" *ngIf="isEnvironment" class="banner"
      src="http://vagas.pep2.ifsp.edu.br/api/images/{{vaga.banner}}" />
    <ion-card-header>
      <ion-card-title> {{ vaga.titulo }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <p><b>Tipo:</b> {{vaga.tipo}} </p>
          <p><b>Regime:</b> {{vaga.regime}} </p>
          <p><b>Salário:</b> {{salario}} </p>
          <p *ngIf="vaga.modalidade==='P'"><b>Modalidade:</b> Presencial </p>
          <p *ngIf="vaga.modalidade==='H'"><b>Modalidade:</b> Híbrido </p>
          <p *ngIf="vaga.modalidade==='R'"><b>Modalidade:</b> Remoto </p>
          <p><b>Área:</b> {{vaga.idArea?.nome}} </p>
          <p *ngIf="vaga.pcd"><b> Vaga para PCDs </b></p>
          <ion-button class="duvida-button" id="vaga">?</ion-button>
          <ion-popover trigger="vaga" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">
                <b>Tipos de Vaga:</b> Efetivo ou Temporário;
                <br>
                <b>Regimes:</b> CLT, PJ ou Estágio;
                <br>
                <b>Modalidades:</b> Presencial, Híbrido ou Remoto;
                <br>
                <b>PCDs:</b> Pessoas com deficiência.
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
        <ion-col size="12">
          <ion-card-content class="job-card-content">
            <div *ngIf="vaga.ocultarNome !== 'S' && vaga.logo !== 'vaga-logopadrao.svg'">
              <img alt="Logo" class="logo" *ngIf="!isEnvironment" src="http://localhost:4001/images/{{vaga.logo}}" />
              <img alt="Logo" class="logo" *ngIf="isEnvironment" src="http://vagas.pep2.ifsp.edu.br/api/images/{{vaga.logo}}" />
            </div>
            
            <!-- Logo confidencial -->
            <img *ngIf="vaga.ocultarNome === 'S' || vaga.logo === 'vaga-logopadrao.svg'" alt="Logo Confidencial" class="logo" 
            src="assets/confidencial.png"/>


            <div class="text-container">
              <ion-row>
                <ion-col size="12">
                  <div class="nome">
                    {{vaga.ocultarNome === 'S' ? 'Empresa Confidencial' : vaga.idEmpresa?.nomeEmpresa}}
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="nome">{{vaga.cidade}}</div>
                </ion-col>
                <ion-col size="6">
                  <div class="nome">Disponível até: {{dataExpira}}</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-col>
        <ion-col size="12">
          <ion-label class="breakable">{{vaga.descricao}}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-radio-group *ngIf="!fromCandidaturas" [(ngModel)]="selectedOption">
            <ion-radio value="perfil"></ion-radio>
            <ion-label> Usar Currículo do Perfil</ion-label>
            <br>
            <ion-radio value="novo"></ion-radio>
            <ion-label> Adicionar Novo Currículo</ion-label>
          </ion-radio-group>
        </ion-col>
        <ion-col size="12">
          <ion-button 
            class="curriculo" 
            expand="block" 
            (click)="fileInput.click()" 
            *ngIf="!fromCandidaturas"
            [disabled]="selectedOption === 'perfil'">
            {{ selectedFile ? 'Currículo selecionado: ' + selectedFile.name : 'Selecionar currículo' }}
          </ion-button>
          <input style="display: none;" type="file" accept=".pdf" #fileInput (change)="onFileSelected($event)">
        </ion-col>
      </ion-row>
      <ion-item>
        <div style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
          <ion-button *ngIf="!fromCandidaturas" mat-button shape="round" (click)="candidatar()" class="cor-botao">Quero me candidatar!</ion-button>
        </div>
      </ion-item>

    </ion-card-content>

  </ion-content>
</div>
