<ion-header [translucent]="true">
  <app-cabecalho titulo="PEPVagas"></app-cabecalho>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="form-container">
    <h3>Cadastro de Profissional Liberal</h3>
    <div class="or-separator"></div>
    <ion-item>
      <ion-input label="*Senha" labelPlacement="floating" type="{{type}}" class="input" [(ngModel)]="senha" required="true"
                 (keyup)="verificarRequisitosSenha()" autocomplete="off"></ion-input>

      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"
                  name="eye-off" style="font-size:25px;"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon name="eye" style="font-size:25px;"></ion-icon>
      </button>

    </ion-item>
    <div class="senhaRequisitos"
         [ngStyle]="{'color': (senhaRequisitos.numberCheck) ? 'green' : 'red'}">
      Deve conter no mínimo um número entre 0 a 9
    </div>

    <div class="senhaRequisitos"
         [ngStyle]="{'color': (senhaRequisitos.upperLowerCheck) ? 'green' : 'red'}">
      Deve conter letras maiúsculas e minúsculas (a-Z)
    </div>

    <div class="senhaRequisitos"
         [ngStyle]="{'color': (senhaRequisitos.specialCharCheck) ? 'green' : 'red'}">
      Deve conter no mínimo um caracter especial: (ex: !@#$%^&*_)
    </div>

    <div class="senhaRequisitos"
         [ngStyle]="{'color': (senhaRequisitos.lengthCheck) ? 'green' : 'red'}">
      Deve conter no mínimo 6 caracteres
    </div>
    <div class="or-separator"></div>

    <ion-item class="input">
      <ion-input label="*Confirme sua senha" labelPlacement="floating" type="{{type}}" [(ngModel)]="checkSenha" required
                 autocomplete="off"></ion-input>

      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"
                  name="eye-off" style="font-size:25px;"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon name="eye" style="font-size:25px;"></ion-icon>
      </button>
    </ion-item>
    <div class="or-separator"></div>
      <ion-button fill="outline" color="danger" (click)="doCancel()">
<!--        <ion-icon name="close-circle-outline"></ion-icon>-->
        <span>Cancelar</span>
      </ion-button>
      <ion-button  fill="outline"  (click)="doUpdate()">
<!--        <ion-icon name="checkmark-circle-outline"></ion-icon>-->
        <span>Trocar senha</span>
      </ion-button>
  </div>
</ion-content>
