ion-button {
  width: 100%;
  /* Define a largura dos botões para 100% */
  border-radius: 10px;
  --border-width: 2px;
  --background: #f4f4f4;
  --border-color: #15842a;
  --color: #15842a;
  align-items: center;
  display: flex;
  justify-content: center;
  /* Centraliza conteúdo verticalmente */
}

h1{
  display: flex;
  justify-content: center;
}
